<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id="main">
    JavaScript is disabled
</div>
<footer>
</footer>

<div id="scripts">
    <script src="static/jquery/dist/jquery.js"></script>
    <!--<script src="static/jquery.cookie/jquery.cookie.js"></script>-->
    <script src="static/bootstrap/dist/js/bootstrap.js"></script>
    <script src="static/underscore/underscore.js"></script>
    <script src="static/backbone/backbone.js"></script>
    <script src="static/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="script.js"></script>
</div>

<div id="templates">
    <script id="dialog-template" type="text/template">
        <ul></ul>
        <textarea name="input" placeholder="Text"></textarea>
        <button type="button">Send</button>
    </script>
    <script id="replica-template" type="text/template">
        <strong><%= author %></strong>
        <div><%= content %></div>
    </script>
</div>
</body>
</html>
